*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}


 nav{
    display: flex;
    gap: 15px;
    background-color:rgba(245, 226, 220, 0.24);
    
 }

 .nav{
    color:black;
    padding:0.3rem;
 }

 #racionais{
    width:20%;
    max-width:40%;
    height:auto;
 }

#dragonforce{
    width:24%;
    height:auto;
}

#massacration{
    width:30%;
    height:auto;
}



h1,h2,h3,p {text-align:center;
         color:white;}
         div{text-align:center;
        }
      input {
            display:none;
        }

        .footer{
            position:absolute;
            margin-bottom:0;
            padding:0.8rem;
            margin-left:0;
            background-color:rgba(0, 0, 0, 0.664);
            width:100%;
        }

    
