* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("img/fundo3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

nav {
    display: flex;
    gap: 15px;
    background-color: rgba(245, 226, 220, 0.24);
    padding:0.3rem;
}

header a:hover {
    text-decoration: underline;
}

header a {
    text-decoration: none;
    color: white;
}

#bnd {
    max-width:40%;
    margin-left:auto;
    margin-right:auto;
    display:block;

}

#log{
  max-width:40%;
  height:auto;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.if{
    display:grid;
    width:100%;
    margin-top:2em;
    gap:0.5rem;
    grid-template-columns:repeat(auto-fit,minmax(100px,1fr));
}

.tit{
    font-size:3rem;
}

.type{
    font-size:1.2rem;
    font-weight:bold;
}

footer{
    position:absolute;
    margin-bottom:0;
    padding:0.8rem;
    margin-left:0;
    background-color:rgba(0, 0, 0, 0.664);
    width:100%;
    color:white;
}

.text{
    display:grid;
    width:100%;
    gap:0.3rem;
    grid-template-columns:repeat(auto-fit, minmax(200px,1fr));
}
.barratop{
   height:20px;
   
   
}

@media (max-width:900px){
    .if{
        display:grid;
        width:100%;
        gap:0.4rem;
        grid-template-columns:repeat(auto-fit, minmax(140px,1fr));

    }
    #bnd{
        max-width:100%;
        height:auto;
    }
    #log{
        max-width:80%;
        height:auto;
    }

    .text{
        display:grid;
        width:100%;
        gap:2rem;
        grid-template-columns:repeat(auto-fit, minmax(200px,1fr));
    }
    .type{
        font-size:1.6rem;
        font-weight:bold;
    }
}
