*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

header a:hover{
    text-decoration:underline;
}
header a{
    text-decoration: none;
    color:white;
}
.card a:visited{
    color:purple;
}

.card a:hover{
    text-decoration:underline;
    

}
.card a{
    text-decoration: none;
    color:aliceblue;
}

 nav{
    display: flex;
    gap: 15px;
    background-color:rgba(245, 226, 220, 0.24);
 }




body{
    background-image:url("https://media1.tenor.com/m/39ygPCI-GSgAAAAC/tuh-cat.gif");
background-repeat:no-repeat;
background-size:100% 100%;}
h1,h2,h3,p {text-align:center;
         color:white;}
         div{text-align:center;
        }
      input {
            display:none;
        }


        label:visited{
          color:purple;
        }
        label {
            cursor:pointer;
            color:blue;
        }
        .content{
            display:none;
        }
        .ch:checked ~ .content{
            display: block;
        }
        .ch:checked ~ label {
            display:none;
        }